
*.swp
*.png
*.bin
*.csv
*.P
*.bmp
*.xcf
*.swo
*.log
*.srctrl*

callgrind.out.*

compile_commands.json
valout.txt

__pycache__/
Binaries/
build/
bin/*
run/
doc/

# Allow all bmp files in the tests/bin directory (these are test data)
!tests/bin/*.bmp

# Allow all bmp files in the resources/textures directory (these are program binary data)
!resources/textures/*.bmp

